   /* the slides */
   .slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
  @media screen and (min-width : 768px) {
     /* the slides */
   .slick-slide {
    margin: 0 20px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }
  }
/* .slick-slider {
  width: 88%;
  margin: auto;

}

.slick-prev, .slick-next {
  height: 45px;
  width: 40px;
  color: green !important;
  z-index: 100;
  color: unset !important;
  z-index: 999;
}
.slick-prev:before, .slick-next:before{
  color: green !important;
} */
.slick-slider {
  width: 90%;
  margin: auto;
}
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background-color: red !important;
  height: 50px;
  width: 50px;
  left: -33px !important;
}

.next-slide {
  background-color: red !important;
  height: 50px;
  width: 50px;
  right: -33px !important;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
.img-2{
  position: absolute;
 
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
}
.div-two-img{
  position: relative;
}
.div-two-img:hover .img-2{

  display: block;
}

@media screen and (max-width : 767px) {
  .text-2xs{
    font-size: 0.5rem;
  }
  
}
/*  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

	* {
		font-family: 'Noto Sans JP', sans-serif;
	}

	.bg-app {
		background: url('https://images.unsplash.com/photo-1632162535418-97e98fcbc90d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center; 
	}