<div class="container mx-auto min-h-screen pb-4">
    <div class="flex items-center justify-center px-5 py-5">
        <div
            class="w-full mx-auto rounded-xl bg-gray-100 shadow-sm p-10 text-gray-800 relative overflow-hidden resize-x min-w-min max-w-3xl">
            <div class="relative mt-1">
                <input type="text"
                    class="w-full pl-3 pr-10 py-2 border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors"
                    placeholder="Search..." [(ngModel)]="filterTerm">
                <button
                    class="block w-7 h-7 text-center text-xl leading-0 absolute top-2 right-2 text-gray-400 focus:outline-none hover:text-gray-900 transition-colors"><i
                        class="mdi mdi-magnify"></i>
                </button>
            </div>
            <div class="absolute top-0 left-0 w-full h-2 flex">
                <div class="h-2 bg-blue-500 flex-1"></div>
                <div class="h-2 bg-red-500 flex-1"></div>
                <div class="h-2 bg-yellow-500 flex-1"></div>
                <div class="h-2 bg-blue-500 flex-1"></div>
                <div class="h-2 bg-green-500 flex-1"></div>
                <div class="h-2 bg-red-500 flex-1"></div>
            </div>
        </div>
    </div>
    <!-- <input class="outline-none text-gray-600 focus:text-blue-600" placeholder="Search..." [(ngModel)]="filterTerm" /> -->

    <div class="mx-auto  lg:max-w-none">
        <h1 class="text-center font-extrabold text-3xl pb-10 text-black-600" *ngIf="filterTerm">Kết quả tìm kiếm của: {{filterTerm}}</h1>
        <div *ngIf="filterTerm;else nofilter">

            <div  *ngIf="products.length != 0 ;else noproduct">
                <h3 class="text-2xl font-extrabold text-gray-900">Có {{(products|filter:filterTerm).length}} kết quả</h3>

        <div class="grid gap-6 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6"  >
            <div *ngFor="let item of products | filter :filterTerm"
                class="bg-gray-100 w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                <div class="flex div-two-img  lg:h-72 h-44 bg-center  w-full bg-contain bg-no-repeat">
                    <img src="{{ item.images[0]}}" [routerLink]="['/product', item._id]"
                        class="object-contain max-h-full w-full" alt="0" />
                    <img src="{{ item.images[3]}}" [routerLink]="['/product', item._id]"
                        class="img-2  object-contain max-h-full w-full" alt="0" />
                    <button (click)="addToCart(item)"
                        class="z-50 p-2 shadow-xl absolute bottom-0 right-0 xl:bottom-0 xl:right-0 rounded-full bg-red-600 text-white mx-5 -mb-4 hover:bg-red-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div [routerLink]="['/product', item._id]" class="hover:bg-red-100 px-5 py-3">
                    <h3 style="max-width: 100ch;"
                        class="text-gray-700 md:text-sm lg:text-base whitespace-nowrap overflow-hidden overflow-ellipsis  text-2xs mt-2 uppercase">
                        {{item.name}}</h3>
                        <span class="mt-2 text-red-500">{{item.price.sale}}</span>
                    <span class="text-gray-500 line-through float-right " *ngIf="item.price.old != '0'" >{{item.price.old}}</span>
                </div>
              
            </div>
        </div>
    </div>
     <ng-template #noproduct class="">
         <h1 class="text-center"> 0 Product!</h1>
     </ng-template>
    </div>

        <ng-template #nofilter class="">
            <h1 class="text-center"> Try search something!</h1>
        </ng-template>

    </div>

</div>