.img-2{
    position: absolute;
   
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
  }
  .div-two-img{
    position: relative;
  }
  .div-two-img:hover .img-2{
  
    display: block;
  }