<div class="flex items-center w-full justify-center min-h-screen">
    <div class="col-span-12 w-full ">
        <input type="" name="" class="flex float-right p-2 m-4 border-green-600" [(ngModel)]="filterTerm" placeholder="Search" />
        <div class="lg:overflow-visible w-full">
            <table class="w-full table  border-separate space-y-6 text-lg">
                <thead class="bg-green-600 text-white">
                    <tr>
                        <th class="p-3">Brand</th>
                        <th class="p-3 text-left">Category</th>
                        <th class="p-3 text-left">Price</th>
                        <th class="p-3 text-left">Status</th>
                        <th class="p-3 text-left">Action</th>
                    </tr>
                </thead>
                <tbody class="overflow-y-scroll w-full" style="height: 50vh;">

                    <tr class="bg-gray-200 hover:bg-gray-300" *ngFor="let item of allproduct | filter :filterTerm ; let i = index">
                        <td class="p-3">
                            <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12  object-cover" src="{{item.images[0]}}" alt="unsplash image">
                                <div class="ml-3" style="width: 20ch;">
                                    <div style="max-width: 15ch;" class="text-gray-900 whitespace-nowrap overflow-hidden  overflow-ellipsis">{{item.name}}</div>
                                    <div class="text-gray-900 ">sku :{{item.sku}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            {{item.category}}
                        </td>
                        <td class="p-3 font-bold">
                            {{item.price.sale}} , {{item.price.old}}
                        </td>
                        <td class="p-3">
                            <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                        </td>
                        <td class="p-3 ">
                            <a href="#" class="text-gray-900 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                            </a>
                            <a [routerLink]="['/admin/edit-product', item._id]" routerLinkActive="router-link-active" class="text-gray-900 hover:text-gray-100  mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                            </a>
                            <a (click)="deleteProduct(item._id, i)" class="text-gray-900 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>